{% extends 'django_tables2/bootstrap4-responsive.html' %}
{% load i18n %}
{% load django_tables2 %}

{% block table.thead %}
  {% if table.show_header %}
    <thead {{ table.attrs.thead.as_html }}>
    <tr>
      {% for column in table.columns %}
        <th {{ column.attrs.th.as_html }} scope="col"
          {% if column.orderable %}
            hx-get="{{ request.path }}?{% querystring table.prefixed_order_by_field=column.order_by_alias.next %}"
            hx-trigger="click"
            hx-target="#log-table-container"
            hx-swap="innerHTML"
            style="cursor: pointer;"
          {% endif %}>
          {{ column.header }}
        </th>
      {% endfor %}
    </tr>
    </thead>
  {% endif %}
{% endblock table.thead %}

{% block table.tbody %}
  <tbody>
    {% if table.page and table.page.object_list %}
      {% for row in table.page.object_list %}
        <tr hx-target="this" hx-swap="outerHTML">
          {% for column, cell in row.items %}
            <td {{ column.attrs.td.as_html }}>{{ cell }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    {% else %}
      <tr>
        <td colspan="{{ table.columns|length }}" class="text-center">No data available in table</td>
      </tr>
    {% endif %}
  </tbody>
{% endblock table.tbody %}

{% block pagination %}
  <div class="row mt-3">
    <div class="col-sm-6">
      {% if table.page %}
        Showing {{ table.page.start_index }} to {{ table.page.end_index }} of {{ table.page.paginator.count }} records
      {% endif %}
    </div>
    <div class="col-sm-6">
      {% if table.page and table.paginator.num_pages > 1 %}
        <ul class="pagination justify-content-end flex-wrap">
          {% if table.page.has_previous %}
            <li class="page-item">
              <a hx-get="{{ request.path }}?page={{ table.page.previous_page_number }}&{{ query_params_urlencode }}"
                 hx-trigger="click"
                 hx-target="#log-table-container"
                 hx-swap="innerHTML"
                 class="page-link">
                <calcite-icon icon="chevron-left" scale="s"></calcite-icon>
              </a>
            </li>
          {% else %}
            <li class="disabled page-item"><span class="page-link"><calcite-icon icon="chevron-left" scale="s"></calcite-icon></span></li>
          {% endif %}

          {% for i in paginator_range|default_if_none:table.page.paginator.get_elided_page_range %}
            {% if table.page.number == i %}
              <li class="active page-item"><span class="page-link">{{ i }}</span></li>
            {% elif i == table.page.paginator.ELLIPSIS %}
              <li class="page-item disabled"><span class="page-link">...</span></li>
            {% else %}
              <li class="page-item">
                <a hx-get="{{ request.path }}?page={{ i }}&{{ query_params_urlencode }}"
                   hx-trigger="click"
                   hx-target="#log-table-container"
                   hx-swap="innerHTML"
                   class="page-link">{{ i }}</a>
              </li>
            {% endif %}
          {% endfor %}

          {% if table.page.has_next %}
            <li class="page-item">
              <a hx-get="{{ request.path }}?page={{ table.page.next_page_number }}&{{ query_params_urlencode }}"
                 hx-trigger="click"
                 hx-target="#log-table-container"
                 hx-swap="innerHTML"
                 class="page-link">
                <calcite-icon icon="chevron-right" scale="s"></calcite-icon>
              </a>
            </li>
          {% else %}
            <li class="disabled page-item"><span class="page-link"><calcite-icon icon="chevron-right" scale="s"></calcite-icon></span></li>
          {% endif %}
        </ul>
      {% endif %}
    </div>
  </div>
{% endblock pagination %}
