<calcite-alert id="alert-danger" icon="exclamation-mark-triangle" kind="danger" label="Danger Alert">
  <div id="alert-danger-title" slot="title">{{ message_title }} </div>
  <div id="alert-danger-body" slot="message">{{ message_body }}</div>
</calcite-alert>

<calcite-alert id="alert-success" icon="check-circle" kind="success" auto-close label="Success Alert">
  <div id="alert-success-title" slot="title">{{ message_title }} </div>
  <div id="alert-success-body" slot="message">{{ message_body }}</div>
</calcite-alert>

<calcite-alert id="alert-info" icon="information" kind="brand" auto-close label="Info Alert">
  <div id="alert-info-title" slot="title">{{ message_title }} </div>
  <div id="alert-info-body" slot="message">{{ message_body }}</div>
</calcite-alert>
