{% extends "app/base_site.html" %}
{% load filter_tags %}

{% block title %} Webmaps {% endblock title %}



{% block stylesheets %}
    {{ block.super }}
    <style>
        .refresh-button{
            width: 100%;
            float: left;
            padding: 4px 0px;
        }
        .datatables-filter{
            float: right;
            margin-bottom: 8px;
            display: none
        }
    </style>

{% endblock stylesheets %}

{% block content %}


    <div class="container body">
        <div class="main_container">
            <div class="right_col" role="main">
                <div class="clearfix"></div>
                {% if message_type == 'success' %}
                    <div class="alert alert-success">
                        <strong>{{ result|escape }}</strong>
                    </div>
                {% endif %}
                {% if message_type == 'error' %}
                    <div class="alert alert-danger">
                        <strong>{{ result|escape }}</strong>
                    </div>
                {% endif %}
                {% if not instance %}
                <div class="alert alert-info">
                    <strong>This page displays items from all added Portals. Visit a specific Portal instance (test1) on the left to view additional details.</strong>
                </div>
                {% endif %}
                <div class="clearfix"></div>
                {% if instance %}
                <div class="alert alert-info">
                    <strong>This page displays items from the selected Portal instance. Clicking "More Information" button will display dependencies of that item.</strong>
                </div>
                {% endif %}
                    <div class="row">
                        <div class="tile_count">
                            <div class="col-md-3 col-sm-3 col-xs-3 tile_stats_count">
                                <span class="count_top"><i class="fa fa-map"></i> Web Maps</span>
                                <div class="count">{{ query_results|length}}</div>
                                {% if not instance %}<span class="count_bottom">Across {{ portal|length }} Portals</span>{% endif %}
                             </div>
                            <div class="col-md-3 col-sm-3 col-xs-3 tile_stats_count">
                                <span class="count_top"><i class="fa fa-map-signs"></i> Services</span>
                                <div class="count">{{ services|length}}</div>
                                {% if not instance %}<span class="count_bottom">Across {{ portal|length }} Portals</span>{% endif %}
                             </div>
                            <div class="col-md-3 col-sm-3 col-xs-3 tile_stats_count">
                                <span class="count_top"><i class="fa fa-layer-group"></i> Layers</span>
                                <div class="count green">{{ layers|length}}</div>
                                {% if not instance %}<span class="count_bottom">Across {{ portal|length }} Portals</span>{% endif %}
                             </div>
                            <div class="col-md-3 col-sm-3 col-xs-3 tile_stats_count">
                                <span class="count_top"><i class="fas fa-th"></i> Applications</span>
                                <div class="count">{{ apps|length}}</div>
                                {% if not instance %}<span class="count_bottom">Across {{ portal|length }} Portals</span>{% endif %}
                             </div>
                        </div>
                    </div>
                {% if instance %}
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>View the ArcGIS Online or Portal Instance:</h2>
                                    <div class="clearfix"></div>
                                    <p><a href={{ updated.url }}>{{ updated.url }}</a>
                                    </p>
                                </div>
                                <div class="x_content">
                                    {% if request.path != '/' %}
                                        {% if user.is_superuser %}
                                            <form class="" action="" method="POST">
                                                {% csrf_token %}
                                                {{ form.as_p }}
                                                <button type="button" class="btn btn-secondary badge badge-dark"
                                                        name="Get Unused Services"
                                                        value="getUnusedServices">
                                                    <span class="fas fa-search"></span> Find Unused
                                                    Services
                                                </button>
                                            </form>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                {% else %}{% endif %}
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2><span class="fa fa-map"></span>
                                    {% if instance %}{{ instance }}{% else %}All{% endif %} Web Maps</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fas fa-chevron-up"></i></a>
                                    </li>
                                    <li><a class="close-link"><i class="fas fa-times"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <p class="text-muted font-13 m-b-30">
                                    {% if instance and updated.webmap_updated %}This list was last updated
                                        {{ updated.webmap_updated }}{% endif %}
                                </p>
                                <div class="line">
                                {% if request.path != '/' %}
                                    {% if user.is_superuser %}
                                        <div class="btn-group dropright">
                                            <button class="btn btn-secondary badge badge-dark dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                                <span class="fas fa-sync-alt"></span> Refresh
                                            </button>
                                            <div class="dropdown-menu">
                                                <li><form class="dropdown-item refresh-button" action="" method="POST">
                                                {% csrf_token %}
                                                {{ form.as_p }}
                                                <button type="submit" class="btn btn-secondary badge badge-dark refresh-button"
                                                        name="Refresh Webmap Delete"
                                                        value="refreshWebmapDelete">
                                                    <span class="fas fa-redo-alt"></span>  Overwrite
                                                </button>
                                                </form></li>
                                                <li><form class="dropdown-item refresh-button" action="" method="POST">
                                                {% csrf_token %}
                                                {{ form.as_p }}
                                                <button type="submit" class="btn btn-secondary badge badge-dark refresh-button"
                                                        name="Refresh Webmap Add"
                                                        value="refreshWebmapAdd">
                                                    <span class="fas fa-plus-square"></span>  Add To
                                                </button>
                                                </form></li>
                                            </div>
                                        </div>

                                    {% endif %}

                                {% endif %}
                                </div>
                                <div class="line">
                                    <div class="datatables-filter" id="datatable-maps-filter"></div>
                                </div>
                                <table id="datatable-maps" class="table table-striped table-bordered wrap" width="100%">
                                    <thead>
                                    <tr>
                                        {% if request.path != '/' %}
                                            <th class="details">Details</th>
                                        {% endif %}
                                        <th>Webmap Title</th>
                                        <th>URL</th>
                                        <th>Owner</th>
                                        <th>Created</th>
                                        <th>Modified</th>
                                        <th>Access</th>
                                        <th>Views</th>
                                        <th class="instance">Instance</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in query_results %}
                                        <tr>
                                            {% if request.path != '/' %}
                                                <td><a href={{ request.path }}map/{{ item.webmap_id }}>
                                                    <button class="btn btn-secondary badge badge-dark">More Information
                                                    </button>
                                                </a></td>
                                            {% endif %}
                                            <td>{{ item.webmap_title }}</td>
                                            <td>{% if request.path != '/' %}
                                                <a href={{ item.webmap_url }}>{{ item.webmap_url }}</a>
                                            {% else %}{{ item.webmap_url }}{% endif %}</td>
                                            <td>{{ item.webmap_owner }}</td>
                                            <td>{{ item.webmap_created }}</td>
                                            <td>{{ item.webmap_modified }}</td>
                                            <td>{{ item.webmap_access }}</td>
                                            <td>{{ item.webmap_views }}</td>
                                            <td>{{ item.portal_instance }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2><span class="fa fa-map-signs"></span>
                                    {% if instance %}{{ instance }}{% else %}All{% endif %} Services</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fas fa-chevron-up"></i></a>
                                    </li>
                                    <li><a class="close-link"><i class="fas fa-times"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <p class="text-muted font-13 m-b-30">
                                    {% if instance and updated.service_updated %}This list was last updated
                                        {{ updated.service_updated }}{% endif %}
                                </p>
                                {% if request.path != '/' %}
                                    {% if user.is_superuser %}
                                        <div class="btn-group dropright">
                                            <button class="btn btn-secondary badge badge-dark dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                                <span class="fas fa-sync-alt"></span> Refresh
                                            </button>
                                            <div class="dropdown-menu">
                                                <li><form class="dropdown-item refresh-button" action="" method="POST">
                                                {% csrf_token %}
                                                {{ form.as_p }}
                                                <button type="submit" class="btn btn-secondary badge badge-dark refresh-button"
                                                        name="Refresh Services Delete"
                                                        value="refreshServicesDelete">
                                                    <span class="fas fa-redo-alt"></span>  Overwrite
                                                </button>
                                                </form></li>
                                                <li><form class="dropdown-item refresh-button" action="" method="POST">
                                                {% csrf_token %}
                                                {{ form.as_p }}
                                                <button type="submit" class="btn btn-secondary badge badge-dark refresh-button"
                                                        name="Refresh Services Add"
                                                        value="refreshServicesAdd">
                                                    <span class="fas fa-plus-square"></span>  Add To
                                                </button>
                                                </form></li>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endif %}
                                <div class="line">
                                    <div class="datatables-filter" id="datatable-services-filter"></div>
                                </div>
                                <table id="datatable-services" class="table table-striped table-bordered wrap" width="100%">
                                    <thead>
                                    <tr>
                                        {% if request.path != '/' %}
                                            <th class="details">Details</th>
                                        {% endif %}
                                        <th>Name</th>
                                        <th>URL</th>
                                        <th>Layers</th>
                                        <th>Server</th>
                                        <th>MXD</th>
                                        <th class="instance">Instance</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in services %}
                                        <tr>
                                            {% if request.path != '/' %}
                                                <td><a href={{ request.path }}service/{{ item.service_name|urlencode:"" }}/>
                                                    <button class="btn btn-secondary badge badge-dark">More Information
                                                    </button>
                                                </a></td>
                                            {% endif %}
                                            <td>{{ item.service_name }}</td>
                                            <td>
                                                <ul>{% for url in item.service_url_as_list %}
                                                    <li>{{ url }}</li>
                                                {% endfor %}</ul>
                                            </td>
                                            <td>
                                                <ul>{% for layer,db in item.service_layers.items %}
                                                    <li><b>{{ layer }}:</b> {{ db }}</li>
                                                {% endfor %}</ul>
                                            </td>
                                            <td>{{ item.service_mxd_server }}</td>
                                            <td>{{ item.service_mxd }}</td>
                                            <td>{{ item.portal_instance }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2><span class="fa fa-layer-group"></span>
                                    {% if instance %}{{ instance }}{% else %}All{% endif %} Layers</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fas fa-chevron-up"></i></a>
                                    </li>
                                    <li><a class="close-link"><i class="fas fa-times"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <p class="text-muted font-13 m-b-30">
                                    {% if instance and updated.service_updated %}This list was last updated
                                        {{ updated.service_updated }}{% endif %}
                                </p>
                                <div class="line">
                                    <div class="datatables-filter" id="datatable-layers-filter"></div>
                                </div>
                                <table id="datatable-layers"
                                       class="table table-striped table-bordered" width="100%">
                                    <thead>
                                    <tr>
                                        {% if request.path != '/' %}
                                            <th class="details">Details</th>
                                        {% endif %}
                                        <th>Name</th>
                                        <th>Server</th>
                                        <th>Database</th>
                                        <th>Version</th>
                                        <th class="instance">Instance</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in layers %}
                                        <tr>
                                            {% if request.path != '/' %}
                                                <td>
                                                    <a href="/layer/{{ item.layer_name }}/?server={{ item.layer_server }}&database={{ item.layer_database }}&version={{ item.layer_version }}">
                                                        <button class="btn btn-secondary badge badge-dark">More Information
                                                        </button>
                                                    </a></td>
                                            {% endif %}
                                            <td>{% if request.path != '/' %}
                                                <a href="/layer/{{ item.layer_name }}/?server={{ item.layer_server }}&database={{ item.layer_database }}&version={{ item.layer_version }}">{{ item.layer_name }}</a>
                                            {% else %}{{ item.layer_name }}{% endif %}</td>
                                            <td>{{ item.layer_server }}</td>
                                            <td>{{ item.layer_database }}</td>
                                            <td>{{ item.layer_version }}</td>
                                            <td>{{ item.portal_instance }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2><span class="fas fa-th"></span>
                                    {% if instance %}{{ instance }}{% else %}All{% endif %} Apps<small>Web Mapping
                                        Application & Dashboard</small></h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fas fa-chevron-up"></i></a>
                                    </li>
                                    <li><a class="close-link"><i class="fas fa-times"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <p class="text-muted font-13 m-b-30">
                                    {% if instance and updated.app_updated %}This list was last updated
                                        {{ updated.app_updated }}{% endif %}
                                </p>
                                {% if request.path != '/' %}
                                    {% if user.is_superuser %}
                                        <div class="btn-group dropright">
                                            <button class="btn btn-secondary badge badge-dark dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                                <span class="fas fa-sync-alt"></span> Refresh
                                            </button>
                                            <div class="dropdown-menu">
                                                <li><form class="dropdown-item refresh-button" action="" method="POST">
                                                {% csrf_token %}
                                                {{ form.as_p }}
                                                <button type="submit" class="btn btn-secondary badge badge-dark refresh-button"
                                                        name="Refresh Webapp Delete"
                                                        value="refreshWebappDelete">
                                                    <span class="fas fa-redo-alt"></span>  Overwrite
                                                </button>
                                                </form></li>
                                                <li><form class="dropdown-item refresh-button" action="" method="POST">
                                                {% csrf_token %}
                                                {{ form.as_p }}
                                                <button type="submit" class="btn btn-secondary badge badge-dark refresh-button"
                                                        name="Refresh Webapp Add"
                                                        value="refreshWebappAdd">
                                                    <span class="fas fa-plus-square"></span>  Add To
                                                </button>
                                                </form></li>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endif %}
                                <div class="line">
                                    <div class="datatables-filter" id="datatable-apps-filter"></div>
                                </div>
                                <table id="datatable-apps" class="table table-striped table-bordered" width="100%">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>URL</th>
                                        <th>Owner</th>
                                        <th>Created</th>
                                        <th>Modified</th>
                                        <th>Access</th>
                                        <th>Views</th>
                                        <th class="instance">Instance</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in apps %}
                                        <tr>
                                            <td>{{ item.app_title }}</td>
                                            <td>{{ item.app_url }}</td>
                                            <td>{{ item.app_owner }}</td>
                                            <td>{{ item.app_created }}</td>
                                            <td>{{ item.app_modified }}</td>
                                            <td>{{ item.app_access }}</td>
                                            <td>{{ item.app_views }}</td>
                                            <td>{{ item.portal_instance }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block javascripts %}
    {{ block.super }}
{% endblock javascripts %}
