<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" rel="stylesheet">

{% block sidebar_class %}
    <div class="col-md-3 left_col menu_fixed">
        <div class="left_col scroll-view">
            <div class="navbar nav_title">
                <a href="/" class="site_title"><i class="fas fa-map-marked-alt"></i> <span>EnterpriseViz</span></a>
            </div>
            <div class="clearfix"></div>
            <br/>
            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                <div class="menu_section">
                    <ul class="nav side-menu">
                        <li><a href="/"><i class="fas fa-igloo"></i> Home<span></span></a>

                        </li>
                        <li><a><i class="fas fa-server"></i> GIS Portals<span class="fas fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                {% for item in portal %}
                                    <li><a
                                            href="{% url 'enterpriseviz:viz' instance=item %}">{{ item }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <div class="sidebar-footer main_menu_side hidden-md">
                <div class="menu_section">
                    <ul class="nav side-menu">
                        <li><a><i class="fa fa-cog"></i> Settings</a>
                            <ul class="nav child_menu">
                                <li><a href="{% url 'social:begin' 'arcgis' %}"><span class="fas fa-sign-in-alt"></span>
                                    Sign In</a>
                                </li>
                                <li><a title="Add" {% if user.is_superuser %} href="/portal/add/" {% endif %}><span
                                        class="fas fa-plus"></span> Add Portal</a></li>
                                <li><a data-toggle="tooltip" data-placement="top" title="Logout" href="/logout/"><span
                                        class="fas fa-sign-out-alt"></span> Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="sidebar-footer hidden-small">
                <a data-toggle="tooltip" data-placement="top" title="Settings">
                    <span class="fas fa-cog" aria-hidden="true"></span>
                </a>
                <a data-toggle="tooltip" data-placement="top" title="Sign In" href="{% url 'social:begin' 'arcgis' %}">
                    <span class="fas fa-sign-in-alt" aria-hidden="true"></span>
                </a>
                <a data-toggle="tooltip" data-placement="top" title="Add" {% if user.is_superuser %}
                   href="/portal/add/" {% endif %}>
                    <span class="fas fa-plus" aria-hidden="true"></span>
                </a>
                <a data-toggle="tooltip" data-placement="top" title="Logout" href="/logout/">
                    <span class="fas fa-sign-out-alt" aria-hidden="true"></span>
                </a>
            </div>
            <!-- /menu footer buttons -->
        </div>
    </div>
{% endblock sidebar_class %}