<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" rel="stylesheet">
<div class="nav_menu">
    <nav>
        <div class="nav toggle">
            <a id="menu_toggle"><i class="fas fa-bars"></i></a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li class="">
                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown"
                   aria-expanded="false">
                    {% if user.is_superuser %}
                        <span class="fas fa-user-astronaut"></span>
                    {% else %}
                        <span class="fas fa-user"></span>
                    {% endif %}
                    {% if user.is_authenticated %}
                        {{ user.get_username }}
                    {% else %}
                        Anonymous
                    {% endif %}
                    <span class=" fas fa-angle-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-usermenu pull-right">
                    {% if user.is_superuser or user.is_staff %}
                        <li><a href="/admin/"><i class="fas fa-tachometer-alt pull-right"></i> Admin</a></li>
                    {% endif %}
                    <li><a href="/logout/"><i class="fas fa-sign-out-alt pull-right"></i> Log Out</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
